@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    IEnumerable<PlayerDTO> Players = IndexModel.Players;

    IEnumerable<string> GetIds()
    {
        foreach (var player in Players)
        {
            yield return player.PlayerId;
        }
    }
}


<div class="text-center">
    <h3>Players</h3>
    <table>
        <tr>
            <th>Last</th>
            <th>First</th>
            <th>DOB</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Bats</th>
            <th>Throws</th>
        </tr>

        @{
            foreach (var player in Players)
            {
                <tr style="padding:10px">
                    <td>@player.NameLast</td>
                    <td>@player.NameFirst</td>
                    <td>@player.DateBirth</td>
                    <td>@player.Weight</td>
                    <td>@player.Height</td>
                    <td>@player.Bats</td>
                    <td>@player.Throws</td>
                </tr>
            }
        }

            </table>
</div>